
*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 95%; padding: 0; margin: 0;}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

body {
	margin: 0px;
	font-family: 'Nixie One', cursive;
	text-align: center;
	color: #ffe8e7;
	background: #57b195;
	font-weight: 300;
	overflow-x: hidden;
	overflow-y: hidden;

}

#logo {
	width:280px; 
	height:auto;
	margin-right: 3.7em;
}

#city-autocomplete {
	z-index: 15;
}

#browser {
	position: relative;
	height: 100vh;
	margin-top: 6.5em;
}

#mysidenav {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    min-width: 0%;
    z-index: 10;
    background-color: white;
    color: white;
}

.sidenav {
    height: 100%;
    width: 0;
    top: 0;
    left: 100%;
    background-color: #50ba85;
    overflow-x: hidden;
    transition: 0.5s;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    position: relative;
}

.sidenav #x-button {
	position: absolute;
	top: 6px;
	right: 11px;
	font-size:47px; 
	color: #d6ca64;

}

.sidenav #x-button:hover {
	color: grey;

}

.sidenav #link-hover a:hover {
	color: #d6ca64;

}

#section-id {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 5;
    margin: 0px;
    overflow: hidden;

}

#section-id {
	width: 100%;
}

#burger {
	float: left;
	color:#c1bf17;
	font-size: 30px;
	text-align: left;
	cursor: pointer;
	margin-left: 10px;
	margin-top: 5px;
}

#burger:hover {
	color: grey;
}

section header {
	padding: 8px; 
	height: 72px;
	z-index: -1; 
	clear:left;
	background: white;
}

#infowindow-content img {
	display: none;
}

#place-name {
	text-align:center;
	font-size:20px;
	color:#c1bf17;
	z-index: -1;
	margin-right: 8px;
}

#places-result {
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	line-height: 2em;
	color: white;
	padding: .5em;
	text-align: left;
	color: #3e3910;
	overflow: scroll;
	height: 24em;
	list-style: none;
}

#places-result ul {
	list-style: none;
	cursor: pointer;
	padding: 10px 125px 10px 10px;
	position: relative;
	border-bottom: 1px dotted grey;
}

#places-result ul img {
	position: absolute;
	top: calc(50% - 60px);
	right: 0;
}

#places-result ul:hover {
	background-color: #eee;
}

#places-result .name {
	font-weight: bold;
	display: inline;
	margin-right: 5px;
}

#places-result .rating {
	display: inline;
}

#places-result .hours {
	font-size: 13px;
	color: grey;
}

#back-to-top {
	color:#c1bf17; 
	float:right; 
	font-family: 'Raleway', sans-serif;
	padding-right: 1em; 
	font-size:20px;
	z-index: 1;
	margin-top: .8em;
}

#back-to-top:hover {
	color: grey;
}

section header span:hover {
	color: grey;
}

section header a:hover {
	color: grey;
}

.github-corner:hover .octo-arm {
	animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
	0%,
	100% {
		transform: rotate(0);
	}

	20%,
	60% {
		transform: rotate(-25deg);
	}

	40%,
	80% {
		transform: rotate(10deg);
	}

}

#map-area {
  color: #999;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: bold;
  height: 91.5vh;
  display: block;
  position: relative;
}

#map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

a {
	color: white;
	text-decoration: none;
}

a:hover,
a:active {
	color: #333;
}

/* Header Style */
.main,
.container > header {
	margin: 0 auto;
	padding: 2em;
}

.container > header {
	text-align: center;
}

.container > header h1 {
	font-size: 2.625em;
	line-height: 1.3;
	margin: 0;
	font-weight: 300;
}

.container > header span {
	display: block;
	font-size: 60%;
	padding: 0 0 0.6em 0.1em;
}

/* Main Content */
.main {
	max-width: 50em;
}

#weather-display {
	font-size : 2em;
	color: #15655b;
	font-family: 'Molengo', sans-serif;
}

#weather-box {
	background-color: #f0f7f6;
	padding:1em;
	box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.3);
}

#weather-image {
	margin: 1em 1em 0;
   	top:100px;
   	left:100px; 
   	text-indent: 90px;
    transform-origin: center top;
    -webkit-animation: dangle 10s infinite;
}

@-webkit-keyframes dangle {
    0% { -webkit-transform: rotate(30deg); }
    10% { -webkit-transform: rotate(-28deg); }
    20% { -webkit-transform: rotate(26deg); }
    30% { -webkit-transform: rotate(-24deg); }
    40% { -webkit-transform: rotate(22deg); }
    50% { -webkit-transform: rotate(-20deg); }
    60% { -webkit-transform: rotate(18deg); }
    70% { -webkit-transform: rotate(-16deg); }
    80% { -webkit-transform: rotate(12deg); }
}

.find {
	padding-right: 30px;
	padding-top: .9em;
	height: 80px;
	text-align: left;
	margin-bottom: -6px;
}

.find input[type="text"] {
	width: 75%;
	font-size: 18px;
	color: #3b806b;
	padding: 10px;
	margin-left: 10px;
	border: solid 1px #fff;
	box-shadow: inset 1px 1px 1px 1px #707070;
	transition: box-shadow 0.3s;
	height: 2.5em;
	margin-right: 5px;
}

#message {
	font-size: 1.3em; 
	margin-left: 2.3em; 
	padding-top: 1em; 
	position:relative;
	font-family: 'Luckiest Guy', cursive;
	color: grey;
}

#temperature {
	width: 25%;
	float:left; 
	margin-left: 1em;
}

#add-location-sidebar {
  background: #c1bf17;
  color: white;
  width: 16%;
  height: 42px;
  border: 0;
  font-size: 18px;
  -webkit-transition: .6s;
  transition: .6s;
  overflow: hidden;
  margin-right: -1px;
}
#add-location-sidebar:focus {
  outline: 0;
}
#add-location-sidebar:before {
  content: '';
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  width: 60px;
  height: 100%;
  left: 0;
  top: 0;
  opacity: .5;
  -webkit-filter: blur(30px);
          filter: blur(30px);
  -webkit-transform: translateX(-100px) skewX(-15deg);
          transform: translateX(-100px) skewX(-15deg);
}
#add-location-sidebar:after {
  content: '';
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  width: 30px;
  height: 100%;
  left: 30px;
  top: 0;
  opacity: 0;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  -webkit-transform: translateX(-100px) skewX(-15deg);
          transform: translateX(-100px) skewX(-15deg);
}
#add-location-sidebar:hover {
  background: grey;
}



@media screen and (max-width: 25em) {

	.codrops-icon span {
		display: none;
	}

}